{% extends "layout.html" %}
{% block title %}
Gameplay
{% endblock %}
{% block content %}
<div class="navbar">
  {% for player in players.items() %}
  <a><span>{{ player[1][0] }} <br> Cash Balance: ${{ net_worths[player[0]][0] }}; Net Worth: ${{ net_worths[player[0]][4] }}</span>
  <hr>
  {% endfor %}
</div>

<p>Current player: {{ current_player[0] }} &emsp; Turn: {{ current_turn }}</p>

<nav>
    <ul>
      {% for player in players.items() %}
        <li><span>Name: {{ player[1][0] }}. Order: {{ player[1][1] }}. Cash Balance: ${{ net_worths[player[0]][0] }}. Net Worth: ${{ net_worths[player[0]][4] }}</span>
      {% endfor %}
    </ul>
</nav>

{% endblock %}