{% extends "layout.html" %}
{% block title %}
Gameplay
{% endblock %}
{% block content %}
<div class="navbar">
  {% for player in players.items() %}
  <a><span>{{ player[1][0] }} <br> Cash Balance: ${{ net_worths[player[0]][0] }}; Net Worth: ${{ net_worths[player[0]][4] }}</span>
  <hr>
  {% endfor %}
</div>

<p>Current player: {{ players[current_player_id|string][0] }} &emsp; Turn: {{ current_turn }}</p>
<form method="post">
  <input type="submit" value="Next player">
</form>

<nav>
    <ul>

    </ul>
</nav>

{% endblock %}