<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %} - Monopoly Companion App</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='site.css')}}"/>
</head>
<body>
    <div class="navbar">
        <a class="navbar-brand">Monopoly Companion App</a>
    </div>

    <div class="sidebar">
        <a class="active" href="{{ url_for('welcome.index') }}">Home/Reset Game</a>
        <a href="{{ url_for('game_setup.index') }}">Game Setup</a>
        <a href="{{ url_for('game_setup.player_registration') }}">Player Registration</a>
        <a href="{{ url_for('gameplay.index') }}">Game Hub</a>
        <a href="{{ url_for('gameplay.index') }}">Stats</a>
    </div>

    <div class="body-content">
        {% block content %}
        {% endblock %}
        {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
        {% endfor %}
        <hr/>
        <footer>
            <p>&copy; 2024</p>
        </footer>
    </div>
</body>
</html>