  body.welcome {
    background-color: #10151B;
    background: url(https://placebear.com/800/1200) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: "Oswald", sans-serif;
    -webkit-font-smoothing: antialiased;
  }

  body {
    background-color: #10151B;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: "Oswald", sans-serif;
    -webkit-font-smoothing: antialiased;
  }
  
  h1 {
    line-height: .95;
    color: #66fcf1;
    font-weight: 900;
    font-size: 100px;
    text-transform: uppercase;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
  }

  h2 {
    line-height: .8;
    color: #66fcf1;
    font-weight: 700;
    font-size: 80px;
    text-align: center;
    text-transform: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
  }
  
  .center {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 581px;
    height: 50%;
  }
  
  form {
    text-align: center;
  }

  input[type=submit]  {
    margin: 0 auto;
    width: 170px;
    height: 60px;
    padding: 6px 0 0 3px;
    border: 2px solid #66fcf1;
    border-radius: 2px;
    background: none;
    font-size: 16px;
    line-height: 54px;
    color: #fff;
    letter-spacing: .25em;
    text-decoration: none;
    font-weight: 600;
    text-transform: uppercase;
    vertical-align: middle;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-transition: background .4s, color .4s;
    transition: background .4s, color .4s;
    cursor: pointer;
  }

  input[type=submit]:hover {
    background: #66fcf1;
    color: #10151B;
  }

  .btn {
    margin: 0 auto;
    width: 170px;
    height: 60px;
    padding: 6px 0 0 3px;
    border: 2px solid #66fcf1;
    border-radius: 2px;
    background: none;
    font-size: 16px;
    line-height: 54px;
    color: #fff;
    letter-spacing: .25em;
    text-decoration: none;
    font-weight: 600;
    text-transform: uppercase;
    vertical-align: middle;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-transition: background .4s, color .4s;
    transition: background .4s, color .4s;
    cursor: pointer;
  }
  
  .btn:hover {
    background: #66fcf1;
    color: #10151B;
  }

.message {
    font-weight: 600;
    color: blue;
}

.navbar {
    background-color: lightslategray;
    font-size: 1em;
    font-family: 'Trebuchet MS', 'Lucide Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    padding: 8px 5px 8px 5px;
}

.navbar a {
    text-decoration: none;
    color: inherit;
}

.navbar-brand {
    font-size: 1.2em;
    font-weight: 600;
}

.navbar-item {
    font-variant: small-caps;
    margin-left: 30px;
}

.body-content {
    padding: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

