{% extends "layout.html" %}
{% block title %}
Player Registration
{% endblock %}
{% block content %}
<p>Enter your player information below. The order entered determines your playing order.</p>
<hr/>
<form method="post">
    {% for player in range(1, no_of_players+1) %}
        <!--  <label for="player_name">Player {{player}} Name</label> -->
        <input name="player_{{player|string()}}_name" id="player_name", placeholder="Player {{player}} Name">
        <br><br>
    {% endfor %}   
    <input type="submit" value="Begin!">
</form>
{% endblock %}